@page
@model IACG.Pages.Apps.DeleteModel

@{
    ViewData["Title"] = "删除应用";
    ViewData["Id"] = "Apps";
}

<h1>删除</h1>

<h3>您确定要删除吗？</h3>
<div>
    <h4>应用</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.App.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.App.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.App.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.App.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.App.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.App.User.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.App.LastModifyTime)
        </dt>
        <dd class="col-sm-10">
            <timeoffset-display value="Model.App.LastModifyTime"></timeoffset-display>
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="App.Id" />
        <input type="submit" value="删除" class="btn btn-danger" /> |
        <a asp-page="./Index">回到列表</a>
    </form>
</div>
