@page
@model IACG.Pages.Reviews.DetailsModel

@{
    ViewData["Title"] = "审核详情";
    ViewData["Id"] = "Reviews";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a asp-page="/Index">IACG</a></li>
    <li class="breadcrumb-item"><a asp-page="./Index">审核</a></li>
    <li class="breadcrumb-item">
        <a asp-page="./Details" asp-route-id="@Model.Review.Id">
            @Html.DisplayFor(model => model.Review.Id)
        </a>
    </li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
</ul>

<h1>详情</h1>

<div>
    <h4>审核</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.App)
        </dt>
        <dd class="col-sm-10">
            <a asp-page="/Apps/Details" asp-route-id="@Model.Review.AppId">@Html.DisplayFor(modelItem => Model.Review.App.Name)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.User.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.Result)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.Result)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.LastModifyTime)
        </dt>
        <dd class="col-sm-10">
            <timeoffset-display value="Model.Review.LastModifyTime"></timeoffset-display>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Review.Id">编辑</a> |
    <a asp-page="./Index">回到列表</a>
</div>
