@page
@model IACG.Pages.Reviews.IndexModel

@{
    ViewData["Title"] = "全部审核";
    ViewData["Id"] = "Reviews";
    ViewData["SelectResult"] = Enumerable.Empty<SelectListItem>().Append(new SelectListItem("全部", "null")).Concat(Html.GetEnumSelectList<ReviewResult>()).ToList();
}


<ul class="breadcrumb">
    <li class="breadcrumb-item"><a asp-page="/Index">IACG</a></li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
</ul>

<div class="text-center" style="width:100%">
    <form method="post" class="form-inline" style="display:inline-flex">
        <label class="control-label">@Html.DisplayNameFor(model => model.Review[0].App)</label>
        <select class="form-control" asp-for="BindData.QueryAppId" asp-items="ViewBag.SelectAppId" style="margin-left:10px; width:150px"></select>
        <label class="control-label" style="margin-left:10px">@Html.DisplayNameFor(model => model.Review[0].Result)</label>
        <select class="form-control" asp-for="BindData.QueryResult" asp-items="@ViewBag.SelectResult" style="margin-left:10px; width:150px"></select>
        <button type="submit" asp-page-handler="Query" class="btn btn-outline-dark" style="margin-left:10px">
            <i class="fa fa-search"></i>
        </button>
    </form>
</div>

<table class="table table-hover" style="margin-top:10px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].App)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].LastModifyTime)
            </th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Review)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Id)</a>
                </td>
                <td>
                    <a asp-page="/Apps/Details" asp-route-id="@item.AppId">@Html.DisplayFor(modelItem => item.App.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Result)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    <timeoffset-display value="@item.LastModifyTime"></timeoffset-display>
                </td>
                <td>
                    <div class="btn-group-sm">
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
